<?xml version="1.0" encoding="utf-8"?>
<config>
  <jsLibraryIndex>http://htmlpreview.github.io/?https://github.com/grannypron/uaf/blob/port/src/UAFLib/UAFLib.csproj</jsLibraryIndex>
  <setupScript>http://htmlpreview.github.io/?https://github.com/grannypron/uaf/blob/unity/setup.js</setupScript>
</config>